.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(174, 202, 238);
  background: radial-gradient(
    circle,
    rgba(174, 202, 238, 1) 0%,
    rgba(148, 233, 201, 1) 100%
  );
}

.gameBoard {
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
